/* Css file to give styles in the Weather app
   Author: Robin Hooda
   copyrights reserved
*/
body{
    font-family: "open Sans" ;
    margin: 0px;
}
.left{

        background-color: rgb(51, 93, 209) ;
        width: 50%;
        height: 100vh;
        float:left;
        text-align: center;
        top: 30vh;
        justify-content: center;
        
    }

.right{
        
        background-color:whitesmoke;
        width: 50%;
        height: 100vh;
        float: left;
        text-align: center;
        
        

}
.center{ margin-top: 40%
     
}
/* .white{
    color: white;
} */